html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.navigation {
  background-color: #014034;
  color: white;
  height: 100px;
}

ul {
  display:flex;
  justify-content: space-around;
  margin: 0;
  padding: 30px;
}

.contactForm {
	display: block;
	margin: 10px;
	border: 2px black solid;
	height: 25px;
}
